#Group_1
	#rowHolder_1.clearfix
		%span#Reklamodatelyam_2
			%span{:style => "text-transform: uppercase;"} Рекламодателям
		%span#goodmonday_2
			%b
				%em{:style => "color: #001523;font-family: Georgia, serif;text-transform: uppercase;"} good
			%em{:style => "text-transform: uppercase;"} monday
		%span#Vebmasteram_2
			%span{:style => "text-transform: uppercase;"} Вебмастерам
	#rowHolder_2.clearfix
		%p#Novosti_Katalog_programm_
			Новости
			%br
			Каталог программ
			%br
			Правила
			%br
			FAQ
			%br
			Подключиться сейчас
		#columnHolder_1
			%p#layer2012_Vse_prava_zashi © 2012 Все права защищены.
			%p#Sledite_za_novostyami
				%span{:style => "text-transform: uppercase;"} Следите за новостями
			#all_icons
				%img#facebook_copy{:alt => "", :height => "29", :src => asset_path("psd/facebook_copy.png"), :width => "27"}
				%img#twetter{:alt => "", :height => "43", :src => asset_path("psd/twetter.png"), :width => "43"}
				%img#youtube{:alt => "", :height => "33", :src => asset_path("psd/youtube.png"), :width => "31"}
				%img#skype{:alt => "", :height => "31", :src => asset_path("psd/skype.png"), :width => "30"}
				%img#rss{:alt => "", :height => "27", :src => asset_path("psd/rss.png"), :width => "29"}
				%img#tel{:alt => "", :height => "33", :src => asset_path("psd/tel.png"), :width => "31"}
		%p#Novosti_Katalog_programm__2
			Новости
			%br
				Каталог программ
				%br
					Правила
					%br
						FAQ
						%br
							Подключиться сейчас
	#Layer_37Holder
		%img#polos_copy_2{:alt => "", :height => "1", :src => asset_path("psd/polos_copy_2.png"), :width => "1280"}
			%p#Glavnaya_O_kompanii Главная     :     О компании     :     Контакты     :     Новости     :     Список офферов