#big_header.clearfix
	#columnHolder_6
		%p#Kak_rabotaet_sistema
			%b{:style => "text-transform: uppercase;"} Как работает система
		#rowHolder_9
			#blok.clearfix
				#columnHolder_4
					#Layer_50_copyHolder
						%span#shag_1
							%b шаг
							%b{:style => "font-size: 83.33%;"} 1
					%p#Registraciya_i_dobavlenie
						%b Регистрация и
						%br
							%b добавление рекламной
							%br
								%b площадки
				%img#Layer_11_copy{:alt => "", :height => "48", :src => asset_path("psd/Layer_11_copy.png"), :width => "29"}
			#blok_copy.clearfix
				#columnHolder_5
					#Layer_34_copy_3Holder
						%span#shag_2
							%b шаг
							%b{:style => "font-size: 83.33%;"} 2
					%p#Vybor_reklamnogo_predlozh
						%b Выбор рекламного
						%br
							%b предложения
				%img#Layer_11_copy_2{:alt => "", :height => "48", :src => asset_path("psd/Layer_11_copy.png"), :width => "29"}
			#group2
				%img#Layer_73_copy_2{:alt => "", :height => "19", :src => asset_path("psd/Layer_73_copy.png"), :width => "57"}
					%img#Layer_73_copy_3{:alt => "", :height => "19", :src => asset_path("psd/Layer_73_copy.png"), :width => "57"}
						%img#Layer_75{:alt => "", :height => "165", :src => asset_path("psd/Layer_75.png"), :width => "222"}
			#group1
				%img#Layer_1_copy{:alt => "", :height => "134", :src => asset_path("psd/Layer_1_copy_2.jpg"), :width => "76"}
	#columnHolder_7
		#blok_copy_2
			%p#shag_3
				%b шаг
				%b{:style => "font-size: 83.33%;"} 3
			%p#Razmeshenie_reklamnogo_pr
				%b Размещение
				%br
					%b рекламного предложения
					%br
						%b и получение прибыли
		#group3
			#Layer_3_copy_2Holder
				%img#Layer_2_copy{:alt => "", :height => "10", :src => asset_path("psd/Layer_2_copy.png"), :width => "67"}
			#Layer_1_copyHolder
				%img#Layer_5_copy{:alt => "", :height => "122", :src => asset_path("psd/Layer_5_copy.png"), :width => "188"}
#slaider
	%p#nashi_klienty
		%b{:style => "text-transform: uppercase;"} наши клиенты
	%p#philips
		%b{:style => "text-transform: uppercase;"} philips
	%p#sense_simplicity sense & simplicity
	%p#otdadim_dengi_v_horoshie_
		%b{:style => "text-transform: uppercase;"} отдадим деньги
		%br
			%b{:style => "letter-spacing: 0.23em;text-transform: uppercase;"} в хорошие руки
	#Group_6.clearfix
		%img#Layer_77{:alt => "", :height => "18", :src => asset_path("psd/Layer_77.jpg"), :width => "18"}
			%img#Layer_77_copy{:alt => "", :height => "9", :src => asset_path("psd/Layer_77_copy.png"), :width => "9"}
				%img#Layer_77_copy_2{:alt => "", :height => "9", :src => asset_path("psd/Layer_77_copy.png"), :width => "9"}
					%img#Layer_77_copy_3{:alt => "", :height => "9", :src => asset_path("psd/Layer_77_copy.png"), :width => "9"}
						%img#Layer_77_copy_4{:alt => "", :height => "9", :src => asset_path("psd/Layer_77_copy.png"), :width => "9"}
							%img#Layer_77_copy_5{:alt => "", :height => "9", :src => asset_path("psd/Layer_77_copy.png"), :width => "9"}
								%img#Layer_77_copy_6{:alt => "", :height => "9", :src => asset_path("psd/Layer_77_copy.png"), :width => "9"}
									%img#Layer_77_copy_7{:alt => "", :height => "9", :src => asset_path("psd/Layer_77_copy.png"), :width => "9"}
#rowHolder_12.clearfix
#centr_content
	#plashki.clearfix
		#plashka
			#podlojka_copy_4
				%img#Layer_67{:alt => "", :height => "42", :src => asset_path("psd/Layer_67.png"), :width => "350"}
					%img#Layer_68{:alt => "", :height => "5", :src => asset_path("psd/Layer_68.png"), :width => "321"}
			%p#reklamodatelyam
				%b{:style => "text-transform: uppercase;"} рекламодателям
		#plashka_2
			#podlojka_copy_5
				%img#Layer_72_copy_2{:alt => "", :height => "37", :src => asset_path("psd/Layer_72_copy_2.png"), :width => "56"}
					%img#Layer_69{:alt => "", :height => "5", :src => asset_path("psd/Layer_68.png"), :width => "321"}
			%p#vebmasteram
				%b{:style => "text-transform: uppercase;"} вебмастерам
	#rowHolder_8
		#group1_2
			%p#GoodMonday_eto_partnerska
				%b{:style => "font-family: Verdana, Geneva, sans-serif;"} GoodMonday
				–  это партнерская программа с оплатой за конкретное действие пользователя.
				%br
					Это партнерская программа с оплатой         за конкретное действие пользователя.
			#rowHolder_5
				%p#Vy_mozhete_vybrat_iz_mnoz
					Вы можете выбрать из множества рекламных предложений наиболее выгодное для вашего вида трафика.
					%br
						%br
							Рекламодатель при данном виде сотрудничества производит оплату веб-мастеру (владельцу рекламной площадки) только за полезные действия пользователей на сайте. В их числе:
							%br
								%br
									%span{:style => "line-height: 150%;"}    заказ товара/услуги
									%br
										%span{:style => "line-height: 150%;"}    заполнение анкеты
										%br
											%span{:style => "line-height: 150%;"}    регистрация
											%br
												%span{:style => "line-height: 150%;"}    подписка на каталог
												%br
													%span{:style => "line-height: 150%;"}    новости, рассылку
													%br
														%span{:style => "line-height: 150%;"}    запись на тест-драйв консультацию
														%br
															%span{:style => "line-height: 150%;"}    или любое другое действие, которое
															%br
																%span{:style => "line-height: 150%;"}    в  итоге приводит к продажам
				%img#arr_copy_7{:alt => "", :height => "133", :src => asset_path("psd/arr_copy_7.png"), :width => "4"}
			%p#podrobnee подробнее...
		#group2_2
			#text_copy
				%p#GoodMonday_eto_bolshe_pri
					%b{:style => "color: #193549;font-family: Verdana, Geneva, sans-serif;"} GoodMonday
					–  это больше прибыли, чем от использования баннерной, контекстной или любой другой интернет-рекламы.
				#rowHolder_6
					%p#Sotrudnichaya_tolko_s_luc
						Сотрудничая только с лучшими web-мастерами и качественными рекламодателями, наша система позволит Вам в полной мере использовать все преимущества работы с партнёрской сетью.
						%br
							%br
								Особенностью данной партнерской программы является организация сотрудничества между владельцами рекламных площадок и множеством рекламодателей в рамках одного проекта.
								%br
									%br
										%span{:style => "line-height: 150%;"}    эффективные затраты
										%br
											%span{:style => "line-height: 150%;"}    удобная система настройки
											%br
												%span{:style => "line-height: 150%;"}    оплата за действие
					%img#arr_copy_8{:alt => "", :height => "43", :src => asset_path("psd/arr_copy_8.png"), :width => "4"}
				%p#podrobnee_2 подробнее...
		#plashki_iconki.clearfix
			#columnHolder_2
				%img#Layer_49{:alt => "", :height => "122", :src => asset_path("psd/Layer_49.png"), :width => "122"}
					#but
						%p#Registraciya_reklamodatel
							%b Регистрация рекламодателя
						%img#Layer_63{:alt => "", :height => "5", :src => asset_path("psd/Layer_63.png"), :width => "230"}
			#columnHolder_3
				#rowHolder_7
					%img#Layer_48{:alt => "", :height => "95", :src => asset_path("psd/Layer_48.png"), :width => "91"}
				#but_copy
					%p#Registraciya_vebmastera
						%b Регистрация вебмастера
					%img#Layer_63_copy{:alt => "", :height => "5", :src => asset_path("psd/Layer_63.png"), :width => "230"}