#partnery
	#Group_2
		%p#nashi_partnery
			%span{:style => "text-transform: uppercase;"} наши партнёры
		%img#layer---------_copy{:alt => "", :height => "1", :src => asset_path("psd/---------_copy.png"), :width => "996"}
	#rowHolder_3.clearfix
		%img#Layer_29_copy{:alt => "", :height => "48", :src => asset_path("psd/Layer_29_copy.png"), :width => "29"}
			#logotipy.clearfix
				%img#Layer_41{:alt => "", :height => "41", :src => asset_path("psd/Layer_41.png"), :width => "200"}
					%img#Layer_42{:alt => "", :height => "41", :src => asset_path("psd/Layer_42.png"), :width => "230"}
						%img#Layer_44{:alt => "", :height => "49", :src => asset_path("psd/Layer_44.png"), :width => "179"}
							%img#Layer_43{:alt => "", :height => "55", :src => asset_path("psd/Layer_43.png"), :width => "167"}
			%img#Layer_45{:alt => "", :height => "48", :src => asset_path("psd/Layer_45.png"), :width => "29"}