#PRAV
	#plashka_r
		%span= 'Новости'
	#novosti_2
		#news_copy.clearfix
			%img#Layer_98{:alt => "", :height => "73", :src => asset_path("psd/Layer_98.png"), :width => "180"}
				#columnHolder_8
					%p#layer05_05_2012_copy
						%b{:style => "text-transform: uppercase;"} 05.05.2012:
					%p#Ezhenedelnoe_tochnoe_sopo
						%b{:style => "font-family: Verdana, Geneva, sans-serif;"} Еженедельное точное
						сопоставление графика выполнения работ и выполненных работ по факту! В случае отклонения от графика необходимо быстро... выявить причину и в кратчайшие сроки устранить ее! И конечно еженедельный фотоотчет  и ежемесячное подписание с клиентом и с подрядной организацией актов КС2 и КС3, которые тщательно проверяет сметчик, инженер и эксперт компании SWISS.CON
					%p#podrobnee_copy подробнее...
		#news_copy_2.clearfix
			%img#Layer_99{:alt => "", :height => "73", :src => asset_path("psd/Layer_99.png"), :width => "180"}
				#columnHolder_9
					%p#layer05_05_2012_copy_2
						%b{:style => "text-transform: uppercase;"} 05.05.2012:
					%p#Ezhenedelnoe_tochnoe_sopo_2
						%b{:style => "font-family: Verdana, Geneva, sans-serif;"} Еженедельное точное
						сопоставление графика выполнения работ и выполненных работ по факту! В случае отклонения от графика необходимо быстро... выявить причину и в кратчайшие сроки устранить ее! И конечно еженедельный фотоотчет  и ежемесячное подписание с клиентом и с подрядной организацией актов КС2 и КС3, которые тщательно проверяет сметчик, инженер и эксперт компании SWISS.CON
					%p#podrobnee_copy_2 подробнее...
	#plashka_r
		%span топ вебмастеров
	#top_kompanii_copy
		#Group_5_copy_3.clearfix
			%img#Layer_30_copy_4{:alt => "", :height => "62", :src => asset_path("psd/Layer_30_copy_4.png"), :width => "180"}
				%p#Kompaniya_ArtGold_Sistemy
					%span{:style => "color: #2b8ed2;"} Компания ArtGold
					%br
						%span{:style => "color: #182d40;"} Системы управления контентом
						%br
							%a{:href => "#", :style => "text-decoration: underline;", :title => "Компания ArtGold"} Компания ArtGold
							%br
								%a{:href => "#", :style => "text-decoration: underline;", :title => "JWS company"} JWS company
								%br
									%a{:href => "#", :style => "text-decoration: underline;", :title => "Компания ArtGold"} Компания ArtGold
		#Group_5_copy_4.clearfix
			#Layer_30_copy_3Holder
				%img#Layer_97{:alt => "", :height => "54", :src => asset_path("psd/Layer_97.png"), :width => "142"}
			%p#Kompaniya_ArtGold_Sistemy_2
				%span{:style => "color: #2b8ed2;"} Компания ArtGold
				%br
					%span{:style => "color: #182d40;"} Системы управления контентом
					%br
						%a{:href => "#", :style => "text-decoration: underline;", :title => "Компания ArtGold"} Компания ArtGold
						%br
							%a{:href => "#", :style => "text-decoration: underline;", :title => "JWS company"} JWS company
							%br
								%a{:href => "#", :style => "text-decoration: underline;", :title => "Компания ArtGold"} Компания ArtGold
	#plashka_r
		%span топ компаний
	#top_kompanii_2
		#Group_5_copy.clearfix
			#Layer_30Holder
				%img#Layer_94{:alt => "", :height => "57", :src => asset_path("psd/Layer_94.png"), :width => "103"}
			%p#Kompaniya_ArtGold_Sistemy_3
				%span{:style => "color: #2b8ed2;"} Компания ArtGold
				%br
					%span{:style => "color: #182d40;"} Системы управления контентом
					%br
						%a{:href => "#", :style => "text-decoration: underline;", :title => "Компания ArtGold"} Компания ArtGold
						%br
							%a{:href => "#", :style => "text-decoration: underline;", :title => "JWS company"} JWS company
							%br
								%a{:href => "#", :style => "text-decoration: underline;", :title => "Компания ArtGold"} Компания ArtGold
		#Group_5_copy_2.clearfix
			#Layer_30_copyHolder
				%img#Layer_93{:alt => "", :height => "47", :src => asset_path("psd/Layer_93.jpg"), :width => "123"}
			%p#Kompaniya_ArtGold_Sistemy_4
				%span{:style => "color: #2b8ed2;"} Компания ArtGold
				%br
					%span{:style => "color: #182d40;"} Системы управления контентом
					%br
						%a{:href => "#", :style => "text-decoration: underline;", :title => "Компания ArtGold"} Компания ArtGold
						%br
							%a{:href => "#", :style => "text-decoration: underline;", :title => "JWS company"} JWS company
							%br
								%a{:href => "#", :style => "text-decoration: underline;", :title => "Компания ArtGold"} Компания ArtGold