- show_emails = (@current_user.is_a? Operator)
- user = message.user
.message
	%b
		- if show_emails
			= user.email if user
		- else
			- if user.is_a? Operator
				Оператор техподдержки
			- else
				Вы
	%blockquote
		%p= message.text
		%small= message.created_at