%p= "Здравствуйте!"
%p= "Вы можете подтвердить аккаунт #{@resource.email}, нажав на ссылку ниже:"
%p= link_to 'Подтвердить аккаунт', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)